.header {
    display: grid;
    background-color: rgb(8, 8, 70);
    height: 67px;
    grid-template-columns: 2fr 5fr 10fr 5fr 1fr;
    justify-items: stretch;
    position: fixed;
    top: 0%;
    width: 100%;
}
.servicelogo {
    align-self: center;
    justify-self: flex-end;
    margin-right: 10px;
}
.servicename {
    color: #F9F3F3;
    font-size: 35px;
    text-align: flex-start;
    align-self: center;
}
.headerbuttons {
    display: flex;
    justify-content: space-around;
    justify-self: flex-start;
}
.headerbutton {
    background-color: rgb(8, 8, 70);
    color: #F9F3F3;
    font-size: 20px;
    border-style: none;
    transition: background-color 0.3s;
    margin-right: 15px;
}
.headerbutton:hover {
    background-color: rgb(8, 8, 40);
}
.search {
    height: 28px;
    justify-self: flex-end;
    align-self: center;
    margin-right: 20px;
    border-style: none;
}
.language {
    justify-self: flex-start;
    align-self: center;
}
.mid{
    display: grid;
    grid-template-columns: 1fr 3fr;
    background-color: #F2F9EE;
}
.pagenav {
    background-color: #FFFFFF;
    justify-self: center;
    align-self: start;
    border-radius: 5%;
    font-size: 25px;
    margin-top: 93px;
    padding: 18%;
}
.info {
    margin-top: 73px;
}
.footer {
    height: 70px;
    background-color: #000000;
    color: #FFFFFF;
    align-content: center;
}
.techsupport {
    margin-left: 10px;
}